#map-test01 { 
    height: 400px; 
    width: 100%;
    }

div#wrapper {
    margin: 0 auto 0 auto;
    width: 900px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color: #432;
}

.main-nav a:hover{
    color: #0bd;
}

.store_detail{
    margin: 0 auto 0 auto;
    max-width: 900px;
}

.store_detail_inner{
    margin: 0 auto 0 auto;
    max-width: 900px;
}

.went-btn{
display: inline-flex;
align-items: center;
    justify-content: center;
    appearance: none;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    transition: all .3s ease-out;
    padding: 4px 12px;
    background-color: #ffa014;
    border: 1px solid #ffa014;
    color: #fff;
}

.wannago-btn{
    display: inline-flex;
    align-items: center;
        justify-content: center;
        appearance: none;
        border-radius: 2px;
        cursor: pointer;
        outline: 0;
        text-align: center;
        transition: all .3s ease-out;
        padding: 4px 12px;
        background-color: #fff;
        border: 1px solid #ffa014;
        color: #ffa014;
    }